@model Cms.Web.ViewModel.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}


    @*<h1 class="display-4">Welcome, naber @User.FindFirstValue(ClaimTypes.Email)</h1>*@

	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-xl-7">
					<div class="block">
						<div class="divider mb-3"></div>
						<span class="text-uppercase text-sm letter-spacing ">İle Hayata Gülümse</span>
						<h1 class="mb-3 mt-3">Özel Hastanesi</h1>

					<p class="mb-4 pr-5">Sunduğu kaliteli sağlık hizmeti ile sağlık sektöründe Konya'nın marka kuruluşu olmayı başaran hastanemiz, son teknoloji cihazları ve yeni üniteleriyle hizmet ağını her geçen gün genişletmektedir.</p>
						<div class="btn-container ">
							<a href="#" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Randevu Al <i class="icofont-simple-right ml-2  "></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						
						<h4 class="mb-3">Randevu</h4>
						<p class="mb-4">E Randevu ile randevu alabilirsiniz</p>
						<a href="#" class="btn btn-main btn-round-full">E-Randevu</a>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						
						<h4 class="mb-3">Çalışma Saatleri</h4>
						<ul class="w-hours list-unstyled">
							<li class="d-flex justify-content-between">Hafta İçi Her gün <span>@Model.WorkingHours</span></li>
						</ul>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
						</div>
						
						<h4 class="mb-3">@ViewData["PhoneNumber"]</h4>
						<p>Randevu almak ve danışmak için lütfen arayın</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<br /><br /><br />
<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row" >
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3 counter" data-count="@Model.TotalExamined">0</span>k
						<p>Toplam Muayene</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3 counter" data-count="@Model.TotalOperation">0</span>+
						<p>Toplam Ameliyat</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3 counter" data-count="@Model.TotalDoctor">0</span>+
						<p>Toplam Doktor</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section clients">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Anlaşmalı Kurumlar</h2>
					<div class="divider mx-auto my-4"></div>
					<p></p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row clients-logo">
		@foreach (var item in Model.Referanss)
			{
				<div class="col-lg-2">
					<div class="client-thumb">
						<img src="~/images/@item.ImagePath" alt="" class="img-fluid">
					</div>
				</div>
			}

		</div>
	</div>
</section>
